<h1>What's the deal?</h1>
<p>
  Muudle is a supersimple, graphical social networking experiment.<br><strong>It's based on moods.</strong><br><br>
  Muudle lets you see how all your friends are feeling, at a glance.<br>
  An anonymous voting system ensures moods are kept current and true.
</p>
<p>
  But that's not all. There's more coming. Alot more. And it'll be cool.
</p>

<h3>
  Thoughts? Suggestions?
</h3>
Check with Willis, he's inside.
