<footer>
   <div id="footerContainer">
      <div id="copyright">Copyright 2011 <strong>MUUDLE</strong>.</div>
      <div id="counter">We turn frowns upside down.</div>
   </div>
   <div id="debug"><%= debug(params) if Rails.env.development? %></div>
</footer>
